/*outline: dotted 1px red; are still in CSS to mark potential future changes*/

/*Mobile view*/
.main-nav ul {
  display: none;
}
.main-nav li {
  width: 80%;
  /*outline: dotted 1px red;*/
  display: flex;
  flex-direction: row;
}
.main-nav:hover ul {
  display: block;
}
.main-nav li:hover {
  background-color: #e6ac00;
}
.icon-menu {
font-size: 2.5em;
}
.project-body-container {
  flex-direction: column;
}

/*Desktop view*/
@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .project-body-container {
    flex-direction: row;
  }
  .main-nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .main-nav:hover ul {
    display: flex;
  }
  .main-nav li:hover {
    background-color: #e6ac00;
  }
  .main-nav li {
    /*outline: dotted 1px red;*/
    display: flex;
    padding: 5px;
    margin: 0 50px;
  }
  ul {
    padding: 0;
  }
}
